
body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #6ab7f5, lightblue);
    min-height: 100vh;
}
.capab {
    border: 3px solid black;
    background-color: #CE1C24;
    border-radius: bottom 15px;
    bottom: 0px;
    left: 0px;
    width: 370px;
    height: 505px;
    display: inline-flex;
    display: inline-flex;
    position: absolute;
}
.capa {
    width: 362px;
    height: 620px;
    bottom: 0px;
    left: 0px;
    border: 0px solid black;
    border-radius: 15px;
    position: absolute;
    display: inline-flex;
    transform-origin: 100%;
    animation: moveOrigin 2s infinite ease-in-out alternate;
    animation: moveSquare 2s infinite ease-in-out alternate;
}
.det {
  bottom: 40px;
  left: 100px;
  width: 150px;
  height: 10px;
  border-radius: 25px;
  border: 3px solid black;
  display: inline-flex;
  position: absolute;

}

@keyframes cape {
  from {
    transform: perspective(1420px) rotateY(270deg);

}
  to {
    transform: perspective(1400px) rotateY(0deg);
  }
}

@keyframes moveOrigin {
  from {
            perspective-origin: right;
  }
  to {
            perspective-origin: left;
  }
}


@keyframes capa {
  from {
    transform: perspective(1100px) rotateY(0deg);

}
  to {
    transform: perspective(1120px) rotateY(270deg);
  }
}

@keyframes moveOrigin {
  from {
            perspective-origin: left;
  }
  to {
            perspective-origin: right;
  }
}


.aqi {
    position: absolute;
    display: inline-flex;
    bottom: -3px;
    left: 0;
}

.open {
    background-color: greenyellow;
    bottom: 250px;
    left: 10px;
    width: 60px;
    height: 60px;
    display: inline-flex;
    position: absolute;
    text-align: center;
    font-size: 40px;
    color: black;
}

.close {
  position: absolute;
  top: 12.5%;
  left: 47%;
	border: 2px solid black;
  width: 3rem;
  height: 3rem;
  border-radius: 25%;
	color: white;
	background-color: #444;
	box-shadow: inset -3px 3px 0 #222;
	box-shadow: -1px 1px 0 #222, -2px 4px 0 #000;

}

.close:active {
	box-shadow: inset -0px 0px 0 #222;
	font-size: 0.7rem;
	box-shadow: -0px 0px 0 #222, -1px 2px 0 #000;

}

.ima {
    display: inline-flex;
    bottom: 70px;
    left: 15px;
    position: absolute;
    scale: 0.8;
}
@keyframes go-back {
  from {
    transform: translateX(40px);
  }
  to {
    transform: translateX(0);
  }
}


.pokedex {
  border: 3px solid black;
  background-color: #CE1C24;
  border-radius: 15px;
  width: 370px;
  height: 620px;
}


.pokemon__gray {
    border-radius: 15px 15px 15px 15%;
    background-color: rgb(227, 227, 227);
    width: 80%;/*320px;*/
    height: 38%; /*230px;*/
    position: absolute;
    bottom: 46.5%;
    left: 61%;
    transform: translate(-63%, 20%);
    box-shadow: -2px 2px 2px black, -5px 6px 0 #888, -7px 8px 0 #333;
}

.display {
    width: 86%;
    height: 76%;
    left: 7%;
    bottom: -15px;
    border-radius: 15px;
    border: solid 2px;
    border-color:black;
    position: relative;
    background-color: grey;
    
}
.circle {
   background-color: #3298cb;
   border-radius: 50%;
   border-color: black;
   height: 30px;
   left: 20px;
   bottom: 600px;
   border-radius: 50%;
   width: 80px;
   height: 80px;
   position: relative;
   border: 10px;
    border: 3px solid rgb(227, 227, 230);

}
.lightblue {
   background-color: #85bdfe;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 7px;
    top: 7px;
    position: relative;
}

.padron {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}

.padron2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
}

.aaa {
    bottom: 456px;
    position: relative;
}

.pos-0 {
    bottom: 20px;
}
.pos-1-1 {
    left: 3px;
    top: 2px;
}
.pos-2-2 {
    left: 3px;
    top: 2px;
}
.pos-3-3{
    left: 3px;
    top: 2px;
}
.pos-1 {
    left: 140px;
    bottom: 225px;

}
.pos-2 {
    left: 170px;
    bottom: 245px;

}
.pos-3 {
     left: 200px;
     bottom: 265px;
  
}


:root {
    --bg-pokemon-red: #CE1C24;
}

.red {
    background-color: #ff0000;
}

.yellow {
    background-color: #fecb65;
}

.green {
    background-color: #32cb65;
}

.blue {
    background-color: #3298cb;
}

.light-blue {
    background-color: #85bdfe;
}

.light-red {
    background-color: #fe98cb;
}

.light-yellow {
    background-color: #fefecb;
}

.light-green {
    background-color: #98fe00;
}

.bg-pokemon-red{
    background-color: var(--bg-pokemon-red);
}

.bg-light-blue {
    background-color: #7ca9f7;
}

.bg-light-grey {
    background-color: #dddddd;
}

.bg-dark-grey {
    background-color: #585858;
}

.shadow-inner-blue {
    box-shadow: inset -2px -2px #3298cb;
}

.shadow-inner-grey {
    box-shadow: inset -2px -2px grey;
}
